#section{
    padding: 10px !important;
}
#marketplaceVendorSec{
    padding: 0;
}
#firstSectionLeft{
    display: none !important;
}
#firstSectionRight{
    display: none !important;
}
#secondSection #cardHover{
    width: 25%;
}
#sectionSeven #cardHover, #sectionNine #cardHover{
    width: 33%;
}
#nav2, #topNav{
    display: none !important;
}
#nav3{
    display: block !important;
    position: sticky;
    top: 0;
    padding-bottom: 10px !important;
}
#logoDiv img{
    width: 45%;
}
#sectionThreeDiv{
    overflow-x: scroll !important;
}
#footer1, #footer2{
    display: none !important;
}
#responsiveDesc{
    display: block !important;
}
#desktopDesc{
    display: none !important;
}
#cartSec, #descriptionSec{
    padding: 15px 0px !important;
}
#descriptionSec #topLeftDiv h5{
    font-size: 14px;
}
#descriptionSec #topLeftDiv a img{
    width: 4%;
}
#descriptionSec #topLeftDiv h4{
    font-size: 17px;
}
#descriptionSec #topLeftDiv input{
    outline: none;
}
#descriptionSec #topLeftDiv b{
    font-weight: 600;
}
#descriptionSec #topLeftDiv #delivery a{
    font-size: 12px;
}
#jumiaExpress{
    width: 35%;
}
#descriptionSec .align-self{
    margin-top: 0;
}
#footer3{
    background-color: #535357;
    padding: 10px;
    display: block !important;
    text-decoration: none;
}
footer a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
#footer4{
    display: block !important;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.808);
}
#footer4 p{
    color: gray;
    margin: 0;
    text-align: center;
    font-size: 14px;
}