*{
    margin: 0;
    padding: 0;
}
#topNav{
    height: fit-content;
    background-color: #e4e3e3;
}
#topNav a{
    color: #f68b1e;
    font-size: 12px;
    font-weight: 600;
}
#topNav a img{
    width: 4%;
}
#topNav #payLogo #logoOne{
    width: 12%;
}
#topNav #payLogo #logoTwo{
    width: 9%;
    cursor: pointer;
}
#nav2{
    position: sticky;
    top: 0;
}
#logo{
    width: 45%;
}
nav{
    height: fit-content;
    z-index: 5;
}
nav input{
    outline: none;
}
#searchIcon{
    width: 4%;
    height: 8%;
}
#searchBtn{
    background-color: #f68b1e;
}
section{
    padding: 15px 45px;
    background-color: #b974df;
}
#firstSection{
    border: 1px solid red;
    margin-bottom: 15px;
}
ul{
    list-style: none;
    margin: 0 !important;
    padding: 0 10px !important;
}
#firstSectionLeft{
    width: 18%;
    font-size: 13px;
    line-height: 32px;
}
#firstSectionLeft a :hover{
    color: #f68b1e;
}
#firstSectionDropDown{
    width: 63%;
    margin-right: 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.245);
    display: none !important;
}
#supermarket:hover #firstSectionDropDown {
    display: block !important;
}
#firstSectionDropDown h6{
    font-size: 12px;
}
#firstSectionDropDown h6:hover{
    color: #f68b1e;
}
#firstSectionDropDown #line{
    border-bottom: 1px solid rgba(0, 0, 0, 0.245);
    margin: 10px 0;
}
#firstSectionDropDown a{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.633);
}
#firstSectionDropDown a:hover{
    font-size: 12px;
    font-weight: 600;
}
#carouselBtn{
    width: 1.5%;
    height: 1.2vh;
}
#firstSectionRight{
    height: 65.5vh;
}
#firstSectionRightTop{
    line-height: 60px;
    padding: 10px;
}
#callCenter{
    font-size: 12px;
}
#firstSectionRightP{
    font-size: 14px;
    font-weight: 500;
}
#secondSection{
    margin-bottom: 15px;
}
#secondSection #img-1{
    width: 15%;
}
#thirdSection{
    margin-bottom: 15px;
    background-color: rgb(170, 222, 241);
}
#sectionFour{
    margin-bottom: 15px;
}
#sectionFourDiv, #sectionFiveDiv, #sectionSixDiv{
    overflow-x: scroll !important;
    width: fit-content;
}
#sectionFour #seeAllLink{
    color: #f68b1e;
}
.sectionFourDivs, .sectionFiveDivs, .sectionSixDivs{
    margin-right: 5px;
    min-width: 11.5rem !important;
}
.sectionFourDivs .details, .sectionFiveDivs .details, .sectionSixDivs .details{
    padding-bottom: 0;
    padding: 8px;
    color: rgb(49, 49, 51);
    line-height: 20px;
}
#sectionFour p, #sectionFive p, #sectionSix p{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
#sectionFour b, #sectionFive b, #sectionSix b{
    font-size: 16px;
    font-weight: 500;
}
#sectionFour span, #sectionFive span, #sectionSix span{
    font-size: 12px;
    color: rgba(49, 49, 51, 0.605);
    text-decoration: line-through;
    text-decoration-color: rgba(49, 49, 51, 0.605);
}
#sectionFive, #sectionSix{
    margin-bottom: 15px;
    background-color: rgb(170, 222, 241);
}
#seeAllLink{
    font-size: 14px;
}
#sectionSeven{
    margin-bottom: 15px;
    background-color: rgb(170, 222, 241);
}
#sectionSeven #img-1{
    width: 15%;
}