*{
    margin: 0;
    padding: 0;
}
#topNav{
    height: fit-content;
    background-color: #e4e3e3;
}
#topNav a{
    color: #f68b1e;
    font-size: 12px;
    font-weight: 600;
}
#topNav a img{
    width: 4%;
}
#topNav #payLogo #logoOne{
    width: 12%;
}
#topNav #payLogo #logoTwo{
    width: 9%;
    cursor: pointer;
}
#nav2{
    position: sticky;
    top: 0;
}
#logo{
    width: 45%;
}
nav{
    height: fit-content;
    z-index: 5;
}
nav input{
    outline: none;
}
#searchIcon{
    width: 4%;
    height: 8%;
}
#searchBtn{
    background-color: #f68b1e;
}
#section{
    padding: 15px 45px !important;
    background-color: #b974df;
}
#firstSection{
    margin-bottom: 15px;
}
ul{
    list-style: none;
    margin: 0 !important;
    padding: 0 10px !important;
}
.dropDownDiv{
    width: 38%;
}
.navDropDown button{
    border: none;
    background-color: transparent;
}
.navDropDown {
    position: relative;
}
.navDropDown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -40%;
    z-index: 1000;
    font-size: 14px !important;
    width: 210px;
    line-height: 42px;
    display: none !important;
}
.navDropDown li:hover{
    background-color: rgba(128, 128, 128, 0.135);
    font-weight: 600;
}
.navDropDown.active .dropdown-menu {
    display: block !important;
}
.navDropDown:focus-within #buttonDiv {
    background-color: rgba(128, 128, 128, 0.484);
    padding: 10px;
}
.navDropDown:focus-within #buttonDiv2 {
    background-color: rgba(128, 128, 128, 0.484);
    padding: 10px;
}
.dropBtn{
    background-color: #f68b1e !important;
    color: white;
    width: 85%;
}
#firstSectionLeft{
    width: 27%;
    font-size: 13px;
    line-height: 32px;
}
#firstSectionLeft a :hover{
    color: #f68b1e;
}
#firstSectionDropDown{
    width: 63%;
    margin-right: 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.245);
    display: none !important;
}
#supermarket:hover #firstSectionDropDown {
    display: block !important;
}
#firstSectionDropDown h6{
    font-size: 12px;
}
#firstSectionDropDown h6:hover{
    color: #f68b1e;
}
#firstSectionDropDown #line{
    border-bottom: 1px solid rgba(0, 0, 0, 0.245);
    margin: 10px 0;
}
#firstSectionDropDown a{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.633);
}
#firstSectionDropDown a:hover{
    font-size: 12px;
    font-weight: 600;
}
#carouselBtn{
    width: 1.5%;
    height: 1.2vh;
}
#firstSectionRight{
    height: 65.5vh;
    width: 30%;
}
#firstSectionRightTop{
    line-height: 60px;
    padding: 10px;
}
#callCenter{
    font-size: 12px;
}
#firstSectionRightP{
    font-size: 14px;
    font-weight: 500;
}
#firstSectionRight img{
    width: 100%;
}
#secondSection{
    margin-bottom: 15px;
}
#secondSection #img-1{
    width: 15%;
}
#thirdSection, #sectionTen{
    margin-bottom: 15px;
    background-color: rgb(170, 222, 241);
}
/* #thirdSection img:hover, #sectionTen img:hover{
    box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.208);
} */
#sectionFour{
    margin-bottom: 15px;
}
#sectionFourDiv, #sectionFiveDiv, #sectionSixDiv, #sectionEightDiv{
    overflow-x: scroll !important;
    max-width: 100%;
    padding: 5px;
}
#sectionFour #seeAllLink{
    color: #f68b1e;
}
.sectionFourDivs, .sectionFiveDivs, .sectionSixDivs, .sectionEightDivs{
    margin-right: 5px;
    min-width: 11.5rem !important;
}
.sectionFourDivs .details, .sectionFiveDivs .details, .sectionSixDivs .details, .sectionEightDivs .details{
    padding-bottom: 0;
    padding: 8px;
    color: rgb(49, 49, 51);
    line-height: 20px;
}
#sectionFour p, #sectionFive p, #sectionSix p, #sectionEight p{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
#sectionFour b, #sectionFive b, #sectionSix b, #sectionEight b{
    font-size: 16px;
    font-weight: 500;
}
#sectionFour span, #sectionFive span, #sectionSix span, #sectionEight span{
    font-size: 12px;
    color: rgba(49, 49, 51, 0.605);
    text-decoration: line-through;
    text-decoration-color: rgba(49, 49, 51, 0.605);
}
#sectionFive, #sectionSix, #sectionEight{
    margin-bottom: 15px;
    background-color: rgb(170, 222, 241);
}
#seeAllLink{
    font-size: 14px;
}
#sectionSeven, #sectionNine{
    margin-bottom: 15px;
    background-color: rgb(170, 222, 241);
}
#sectionSeven #img-1, #sectionNine #img-1{
    width: 15%;
}
#sectionSeven p, #sectionNine p{
    font-size: 14px;
}
#cardHover:hover{
    box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.208);
}


#marketplaceVendorSec{
    background-color: #f5f5f5;
    padding: 15px 45px !important;
    cursor: default;
}
#divTwo p{
    font-size: 14px;
    font-weight: 600;
}
#divTwo span{
    background-color: #C63232;
    width: 16%;
    color: white;
    font-size: 13px;
    padding: 15px 0;
    border-radius: 3px;
}
#divThree p, #divFour p{
    font-size: 13px;
    font-weight: 600;
}
#divThree i{
    font-size: 13px;
    width: 39%;
}
#divFour button{
    background-color: #f68b1e;
    padding: 12px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    color: white;
}
#divFour h6{
    font-size: 12.5px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.845);
}
#divFour span{
    font-size: 13px;
    line-height: 20px;
}
#divFour img{
    width: 35%;
    margin-bottom: 10px;
}
#divFour .img2{
    width: 45%;
}
#footer1{
    padding: 15px 45px;
    background-color: #313133;
    color: white;
}
#footerLogo{
    width: 60%;
}
.footerDiv{
    width: 50%;
}
#footerIcon{
    width: 20%;
    height: 12%;
}
#footer1 span, #footer2 span{
    font-size: 12px;
    font-weight: bold;
}
#footer1 small {
    font-size: 12px;
}
#downloadIcon{
    width: 20%;
}
footer button{
    background-color: transparent;
    line-height: 16px;
    text-align: start;
    padding: 5px;
}
#footer1 button div{
    margin-left: 5px;
}
#footer1 button small{
    font-size: 8px;
}
#footer1 button p{
    font-size: 14px;
}
#footer1 input{
    border: none;
    outline: none;
}
#inputImg{
    width: 13%;
}
#checkboxDiv{
    line-height: 18px;
}
#checkboxDiv p{
    font-size: 13px;
    color: rgb(163, 163, 166);
    width: 85%;
}
#checkboxDiv a{
    font-size: 11px;
    font-weight: 600;
    color: #f68b1e;
}
#footer2{
    background-color: #535357;
    padding: 15px 45px;
    color: white;
}
#footer2 span{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}
#footer2 a{
    color: white;
    font-size: 12px;
    text-decoration: none;
    font-weight: lighter;
    line-height: 22px;
    width: fit-content;
}
#footer2 a:hover{
    text-decoration: underline;
}
#footer2 img{
    width: 8%;
    margin-right: 15px;
}
#footer2 #btmImg{
    width: 5%;
    margin: 7px 0;
}
#vendorSignInSec img{
    width: 80%;
}
#vendorSignInSec button{
    background-color: #f68b1e;
    color: white;
    font-weight: 600;
}
#globalSale{
    border: 1px solid #3653A3;
    color: #3653A3;
    font-weight: 500;
}
#globalSale img{
    width: 5%;
}
#vendorSignInSec p {
    font-size: 13px;
    font-weight: 400;
}